
.btn-orange {
  background-color: $button-fill-color;
  color: $button-color;
  padding: 1em 2.5em;
  max-width: 30em;

  &:hover {
    background-color: $button-background-color-hover;
    color: $button-color;
  }

  &:active:focus {
    background-color: $button-background-color-active;
    color: $button-color;
    border: 1px solid $button-background-color-active;
  }
}

.btn-primary {
  background: none;
  color: $button-color;
  border: 1px solid $button-fill-color;

  &:hover {
    background-color: $button-background-color-hover;
    color: $button-color;
    border: 1px solid $button-background-color-hover;
  }
}

:not(.btn-check) + .btn-primary:active {
  background-color: $button-background-color-active;
  color: $button-color;
  border: 1px solid $button-background-color-active;
}

.btn-border {
  color: $light-mode-font-color;
}

.button-fill {
  background-color: $button-fill-color;
}

.clear-all {
  color: $primary-color;
}

.btn-wider {
  width: 100%;
  display: flex;
  justify-content: space-between;

  svg {
    margin-left: auto;
  }
}

.btn-toggle {
  border: none;
}

.text-uppercase {
  font-size: 0.8em;
}