.form-check-input:checked {
  background-color: $primary-color;
  border-color: $primary-color;
}

.form-control,
input,
.input-btn-focus-color,
.form-check-input {
  color: $primary-color;
}
.form-check-reverse {
  text-align: left;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.form-control:focus,
.form-select:focus {
  border-color: #f2c94c;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #f2994a;
  outline: 0 none;
}

input[type="checkbox"]:checked {
  background-color: $primary-color;
  border-color: #f2994a;
  box-shadow: $input-checkbox-box-shadow;
  outline: 0 none;
}
input[type="checkbox"]:focus {
  border-color: #f2994a;
  box-shadow: $input-checkbox-box-shadow;
  outline: 0 none;
}

.input-group {
  flex-wrap: nowrap;
}