.form-range::-webkit-slider-thumb {
  background-color: $primary-color;
}

.form-range::-moz-range-thumb {
  background-color: $primary-color;
}

.form-range::-ms-thumb {
  background-color: $primary-color;
}

.form-range:active::-webkit-slider-thumb {
  background-color: $form-range-active-background-color;
  box-shadow: none;
  outline-offset: 0.2em;
  outline: $form-range-outline;
}
.form-range:active::-moz-range-thumb {
  background-color: $form-range-active-background-color;
  box-shadow: none;
  outline-offset: 0.2em;
  outline: $form-range-outline;
}
.form-range:active::-ms-thumb {
  background-color: $form-range-active-background-color;
  box-shadow: none;
  outline-offset: 0.2em;
  outline: $form-range-outline;
}

.form-range:focus::-ms-thumb {
  box-shadow: none;
  outline-offset: 0.2em;
  outline: $form-range-outline;
}

.form-range:focus::-webkit-slider-thumb {
  box-shadow: none;
  outline-offset: 0.2em;
  outline: $form-range-outline;
}

.form-range:focus::-moz-range-thumb {
  box-shadow: none;
  outline-offset: 0.2em;
  outline: $form-range-outline;
}