@media (prefers-color-scheme: dark) {
  .navbar-brand,
  .filter,
  .btn-wider,
  .modal-header,
  .nav,
  .nav:active,
  .link-body-emphasis,
  .nav-svg {
    color: $dark-mode-font-color !important;
    --bs-nav-link-color: #adb5bd !important;
    --bs-nav-link-hover-color: #adb5bd !important;
  }
  .menu,
  .white {
    color: $dark-mode-font-color;
  }

  .clear-all:active {
    border-color: $dark-mode-font-color;
  }

  .btn-border {
    color: $dark-mode-font-color;
  }

  .footer-nav-link {
    color: rgba(173, 181, 189, 0.75);
  }

  .search-result {
    text-decoration: none;
    color: $dark-mode-font-color;

    &:hover {
      color: $primary-color;
    }
  }
}