@media (prefers-color-scheme: light) {
  .svg-light-mode {
    color: #212529;
  }

  .clear-all, .footer-link {
    color: #c05436;
  }

  .clipboard-btn:hover .svg-light-mode {
    color: #fff;
  }

  .even {
    background-color: #adb5bd;

    &:hover {
      background-color: #dee2e6;
    }
  }

  .odd {
    background-color: #ced4da;

    &:hover {
      background-color: #e9ecef;
    }
  }

  #radioNoLabelwhite {
    background-color: #e2e2e2;
    border-color: #e2e2e2;
  }
}
