.carousel2img img {
  max-height: 31.25em;
  width: auto;
  margin: 0 auto;
  object-fit: cover;
}

#carouselExampleCaptions .carousel-indicators {
  margin-bottom: -3em !important;

  button {
    width: 1.3em;
    height: 1.3em;
    box-sizing: border-box;
    background-color: $primary-color;
    border: 0.25em solid transparent;
    border-radius: 50%;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    transition: 0.3s;
    opacity: 1;
  }

  .active {
    background-color: transparent;
    border-color: $primary-color;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
  }
}

.carousel-caption {
  position: absolute;
  right: 0;
  top: 0;
  left: 60%;
  bottom: unset;
  text-align: right;

  p {
    font-weight: 600;
    font-size: 1.3em;
    background-color: $primary-color;
    margin: 0 auto;
    padding: 0.5em 1em;
    color: $light-mode-font-color;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}