.navbar-brand,
.font-color,
.card-header,
.filter,
.btn-wider,
.modal-header,
.nav,
.nav:active,
.link-body-emphasis,
.nav-svg {
  color: $light-mode-font-color !important;
  --bs-nav-link-color: #232323 !important;
  --bs-nav-link-hover-color: #232323 !important;
}

.menu,
.white,
.font-grey {
  color: $light-mode-font-color;
}

.sbstv {
  color: inherit;
}
.nav-link:hover,
.bi-nav:hover, .sbstv:hover {
  color: $primary-color;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.menu.active {
  color: $primary-color;
  font-weight: bolder;
}

.bi-nav {
  display: inline-block;
  vertical-align: -0.125em;
}

.nav-link {
  font-size: 0.9em;
}

.cart,
.colon {
  color: $primary-color;
}

.total-cart-item {
  background-color: $primary-color;
}

.footer-link {
  color: $primary-color;
  text-decoration: none;
}
.search-result {
  text-decoration: none;
  color: $light-mode-font-color;

  &:hover {
    color: $primary-color;
  }
}

.navbar-toggler {
  display: flex;
  align-items: center;
}

.menu-text {
  font-size: 0.8em;
  font-weight: bold;
}

.input-group>.form-control {
  width: 15.25rem !important;
  flex: unset !important;
}
#searchResultsContainer {
  position: absolute;
  display: none;
  width: 15.25rem;
  overflow: hidden;
  z-index: 2;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 1rem 3rem -1.5rem rgba(0, 0, 0, .8), 0 -.1rem .1rem -.25rem rgba(0, 0, 0, .9);
}

#searchForm {
  height: auto !important;
}

#searchResults {
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    padding: 1rem;
    margin: 0;
    width: auto;
  }
}

.even {
  background-color: #3d444b;

  &:hover {
    background-color: #57616b;
  }
}

.odd {
  background-color: #464e56;

  &:hover {
    background-color: #58626c;
  }
}