.navbar-brand,
.font-color,
.card-header,
.filter,
.btn-wider,
.modal-header,
.nav,
.nav:active,
.link-body-emphasis,
.nav-svg {
  color: $light-mode-font-color !important;
  --bs-nav-link-color: #232323 !important;
  --bs-nav-link-hover-color: #232323 !important;
}

.menu,
.white,
.font-grey {
  color: $light-mode-font-color;
}

.sbstv {
  color: inherit;
}
.nav-link:hover,
.bi-nav:hover, .sbstv:hover {
  color: $primary-color;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.menu.active {
  color: $primary-color;
  font-weight: bolder;
}

.bi-nav {
  display: inline-block;
  vertical-align: -0.125em;
}

.nav-link {
  font-size: 0.9em;
}

.cart,
.colon {
  color: $primary-color;
}

.total-cart-item {
  background-color: $primary-color;
}

.footer-link {
  color: $primary-color;
  text-decoration: none;
}

.footer-nav-link {
  color: rgba(33, 37, 41, 0.75);
}

.navbar-toggler {
  display: flex;
  align-items: center;
}

.menu-text {
  font-size: 0.8em;
  font-weight: bold;
}

.input-group>.form-control {
  width: 15.25rem !important;
  flex: unset !important;
}

.text-success {
  color: #198754;
}