.filter {
  margin-top: 5em;
}

#radioNoLabelred {
  background-color: #e97777;
  border-color: #e97777;
}
#radioNoLabelgreen {
  background-color: #829460;
  border-color: #829460;
}
#radioNoLabelyellow {
  background-color: #ffd966;
  border-color: #ffd966;
}
#radioNoLabelblue {
  background-color: #3aa6b9;
  border-color: #3aa6b9;
}
#radioNoLabelpurple {
  background-color: #ac7d88;
  border-color: #ac7d88;
}
#radioNoLabelbrown {
  background-color: #795341;
  border-color: #795341;
}

#radioNoLabelwhite {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

#radioNoLabeldark {
  background-color: #4b4b4b;
  border-color: #4b4b4b;
}

.form-check-input:checked[type="radio"],
.form-check-input:active:focus[type="radio"] {
  box-shadow: $input-checkbox-box-shadow;
  border-color: $primary-color;
}

.form-check-input.outline:checked[type="radio"],
.form-check-input.outline:active:focus[type="radio"] {
  box-shadow: none !important;
  outline-offset: 0.3em;
  outline: 0.2em solid $primary-color;
}

.price {
  color: $primary-color;
}