@media (prefers-color-scheme: light) {
  .svg-light-mode {
    color: #212529;
  }

  .clipboard-btn:hover .svg-light-mode {
    color: #fff;
  }

  .even {
    background-color: #dbdbdb;

    &:hover {
      background-color: #efefef;
    }
  }

  .odd {
    background-color: #e5e5e5;

    &:hover {
      background-color: #f9f9f9;
    }
  }

  #radioNoLabelwhite {
    background-color: #e2e2e2;
    border-color: #e2e2e2;
  }
}
