.card-title-get-in-touch {
  font-size: 3em;
  font-style: normal;
  font-weight: 800;
}
.contact-form {
  max-width: 40em;
  padding: 3em;
  margin: auto;
}

.contact-form-container {
  margin-bottom: 6em;
}

.btn-submit {
  width: 100%;
  max-width: unset !important;
}