.item-card-layout {
  gap: 2em;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 2.5em;
  font-style: normal;
  font-weight: 700;
}

.descriptionS {
  font-size: 1em;
}

.layout {
  max-width: 60%;
}

.menu {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.related-product {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.item-card-album-section {
  margin: 6em auto 3em;
}

.specs-subhead {
  font-weight: 400;
}